
# FastAPI
fastapi>=0.109.0
uvicorn>=0.27.0
pydantic>=2.6.0
jinja2>=3.1.3
python-multipart>=0.0.9

# Static Scraping
httpx>=0.26.0
selectolax>=0.3.16
beautifulsoup4>=4.12.3

# JS Scraping
playwright>=1.41.0
pytest-playwright>=0.4.4
